body{
    margin: 0;
    background-color: #C6EAFF;
}

header{
    background-color: #C6EAFF;
    border-bottom: black;
    border-radius: 2px;
    border-style: solid;
    text-align: center;
}

header div{
    padding: 10px;
    display: flex;
    background-color: #C6EAFF;
    font-size: 50px;
    justify-content: space-around;
    flex-direction: row;
}

header i{
    margin-top: 20px;
}

.image-icon{
    height: 110px;
}

.img-tittle{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-welcom{
    padding: 2px 6px 4px 6px;
    background-color: whitesmoke;
}

.section-welcom h4{
    font-size: 24px;
}

.section-welcom h6{
    font-size: 18px;
}

.section-welcom h8{
    font-weight: bold;
    display: flex;
}

.div-section-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.section-nav{
    background-color: whitesmoke;
    padding-top: 10px;
    text-align: center;
}

.section-nav h3{
    font-size: 28px;
}

.red-box{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 16px;
    font-size: 20px;
    color: white;
    background-color: #d82323;
    text-align: center;
    border: black;
    border-style: solid;
    border-radius: 1px;
}

.red-box i{
    font-size: 30px;
    padding: 4px;
}

.section-events{
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    padding-top: 14px;
}

.section-events h3{
    font-size: 28px;
}

.div-events{
    margin-top: 20px;
}

.img-events{
    width: 98%;
    border: #3F4F77;
    border-style: solid;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-kontact{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.div-kontact{
    display: flex;
    flex-direction: row;
    padding: 4px;
    background-color: whitesmoke;
    align-items: center;
    color: rgb(136, 135, 135);
}

.div-kontact p{
    padding-right: 10px;
    padding-left: 6px;
}

.img-kontact{
    width: 100%;
}

.section-os{
    width: 100%;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-os h4{
    text-align: center;
    font-size: 28px;
    padding: 12px;
}

.img-oplev{
    width: 100%;
}

.img-opsn{
    width: 40%;
    padding: 12px;
    border-radius: 30px;
    object-fit: cover;
}

.div-opsn{
    display: flex;
}

.p-læs{
    border: #3F4F77;
    border-style: solid;
    border-radius: 12px;
    padding: 12px;
    width: 28%;
}

.p-læs:hover{
    background-color: #3F4F77;
    color: whitesmoke;
}



footer{
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    background-color: #3F4F77;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}